{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.car_rent.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.car_rent.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.car_rent.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.car_rent.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.car_rent.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.car_rent.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/CarRentApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/CarRentApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="d-none">
            <h1>{{ 'car_rent.banner.title'|trans }}</h1>
            <h2>{{ 'car_rent.banner.title_cyprus'|trans }}</h2>
            <p>{{ 'car_rent.banner.subtitle'|trans }}</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="car-rent-app">
                        <div class="text-center">
                            <img src="/img/loading.svg" class="root-spinner space-5"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}