{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.contact.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.contact.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.contact.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.contact.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.contact.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.contact.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block content %}
    <main id="main-content">
        <div class="container space-2">
            <div class="w-md-80 w-lg-60">
                <h1 class="text-primary">
                    <span class="font-weight-semi-bold">{{ 'contact.title'|trans }}</span>
                </h1>
                {{ 'contact.content'|trans|raw }}
            </div>
        </div>
    </main>
{% endblock %}