{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.faq.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.faq.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.faq.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.faq.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.faq.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.faq.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="container space-2">
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto">

                    <div class="mb-3">
                        <h3 class="text-primary font-weight-semi-bold">{{ 'faq.title'|trans }}</h3>
                    </div>

                    <div id="faq-user">
                        {% for sentence in 1..7 %}
                            <div class="card mb-3">
                                <div class="card-header card-collapse" id="faq-user-title-{{ sentence }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                                                data-toggle="collapse"
                                                data-target="#faq-user-body-{{ sentence }}"
                                                aria-expanded="false"
                                                aria-controls="faq-user-body-{{ sentence }}">

                                            {{ ('faq.content.' ~ sentence ~ '.question')|trans }}

                                            <span class="card-btn-arrow">
                                <span class="fas fa-arrow-down small"></span>
                              </span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="faq-user-body-{{ sentence }}" class="collapse"
                                     aria-labelledby="faq-user-title-{{ sentence }}"
                                     data-parent="#faq-user">
                                    <div class="card-body">

                                        {{ ('faq.content.' ~ sentence ~ '.answer')|trans|raw }}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}