{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.how-it-works.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.how-it-works.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.how-it-works.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.how-it-works.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.how-it-works.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.how-it-works.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block content %}
    <main id="main-content">
        <div class="container space-2">
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto">

                    <h1 class="fg-primary font-weight-semi-bold">{{ 'how-it-works.title'|trans }}</h1>

                    {{ 'how-it-works.subtitle'|trans|raw }}

                    <div class="row space-top-2">

                        <div class="col-12 mb-4">

                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                        <img src="/img/how-it-works-6.svg" class="img-fluid" style="min-height: 135px;"/>
                                    </figure>
                                </div>
                                <div class="col-12 col-lg-9 text-center text-lg-left">
                                    <h2 class="h4">{{ 'how-it-works.actions.1.title'|trans }}</h2>
                                    <p>{{ 'how-it-works.actions.1.content'|trans|raw }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-lg-3 mb-4 text-center">
                            <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                        </div>

                        <div class="col-12 mb-4">

                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                        <img src="/img/how-it-works-1.svg" class="img-fluid" style="min-height: 135px;"/>
                                    </figure>
                                </div>
                                <div class="col-12 col-lg-9 text-center text-lg-left">
                                    <h2 class="h4">{{ 'how-it-works.actions.2.title'|trans }}</h2>
                                    <p>{{ 'how-it-works.actions.2.content'|trans|raw }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-lg-3 mb-4 text-center">
                            <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                        </div>

                        <div class="col-12 mb-4">

                            <div class="row">
                                <div class="col-12 col-lg-3 text-center text-lg-left">
                                    <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                        <img src="/img/how-it-works-3.svg" class="img-fluid" style="min-height: 135px;"/>
                                    </figure>
                                </div>
                                <div class="col-12 col-lg-9 text-center text-lg-left">
                                    <h2 class="h4">{{ 'how-it-works.actions.3.title'|trans }}</h2>
                                    <p>{{ 'how-it-works.actions.3.content'|trans|raw }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-lg-3 mb-4 text-center">
                            <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                        </div>

                        <div class="col-12 mb-4">

                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                        <img src="/img/how-it-works-4.svg" class="img-fluid" style="min-height: 135px;"/>
                                    </figure>
                                </div>
                                <div class="col-12 col-lg-9 text-center text-lg-left">
                                    <h2 class="h4">{{ 'how-it-works.actions.4.title'|trans }}</h2>
                                    <p>{{ 'how-it-works.actions.4.content'|trans|raw }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-lg-3 mb-4 text-center">
                            <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                        </div>

                        <div class="col-12 mb-4">

                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                        <img src="/img/how-it-works-5.svg" class="img-fluid" style="min-height: 135px;"/>
                                    </figure>
                                </div>
                                <div class="col-12 col-lg-9 text-center text-lg-left">
                                    <h2 class="h4">{{ 'how-it-works.actions.5.title'|trans }}</h2>
                                    <p>{{ 'how-it-works.actions.5.content'|trans|raw }}</p>
                                </div>
                            </div>

                        </div>
                    </div>


                    {{ 'how-it-works.footer'|trans|raw }}

                </div>
            </div>
        </div>
    </main>
{% endblock %}