{% extends 'themes/front/base.html.twig' %}

{% set cacheKey = ''|date('Y-m-d') %}

{% block seo %}
    <title>{{ 'seo.inquiry-create.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.inquiry-create.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.inquiry-create.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.inquiry-create.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.inquiry-create.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.inquiry-create.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/LandingApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/LandingApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main id="main-content">
        <div class="container space-2">
            <div class="col-12 col-md-7 mx-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4 class="m-0">{{ 'landing.side-banner.title'|trans }}</h4>
                    </div>
                    <div class="col-12 text-center">
                        <img src="/img/arrow-strait.png" alt="{{ 'landing.side-banner.title'|trans }}"
                             style="height: 50px;"
                             class="p-1">
                    </div>
                </div>
                <div class="container" id="landing-app">
                    <div class="text-center">
                        <img src="/img/loading.svg" class="root-spinner space-5"/>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}