{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.landing.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.landing.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.landing.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.landing.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.landing.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.landing.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/LandingApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/LandingApp.js?v={{ cacheKey }}"></script>
    <script src="/themes/front/vendor/typed.js/lib/typed.min.js"></script>


    <script>
        $(function () {
            if (typeof Typed !== 'undefined') {
                // initialization of text animation (typing)

                var suffixes = "{{ 'landing.banner.typed.suffixes'|trans }}".split(',')

                new Typed("#landing-typed-cyprus", {
                    strings: suffixes,
                    typeSpeed: 100,
                    loop: true,
                    backSpeed: 25,
                    backDelay: 1500
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    <main id="main-content">

        {% if app.user %}
            <div class="gradient-half-primary-v6">
                <div class="container space-top-1 pb-3">
                    <div class="row">
                        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                            <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                                {#<!-- Breadcrumb -->
                                <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                                    <li class="breadcrumb-item">
                                        <a class="breadcrumb-link" href="{{ path('index') }}">{{ 'navigation.homepage'|trans }}</a>
                                    </li>
                                </ol>
                                <!-- End Breadcrumb -->#}

                                <!-- Breadcrumb Nav Toggle Button -->
                                <div class="d-lg-none">
                                    <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                            aria-label="Toggle navigation"
                                            aria-expanded="false"
                                            aria-controls="breadcrumbNavBar"
                                            data-toggle="collapse"
                                            data-target="#breadcrumbNavBar">
                                        <div id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                            <span class="u-hamburger__inner"></span>
                                        </div>
                                    </button>
                                </div>
                                <!-- End Breadcrumb Nav Toggle Button -->
                            </div>
                        </div>

                        <div class="col-lg-7 order-lg-1">
                            <h1 class="h3 text-white font-weight-medium mb-1">{{ 'members_area.greeting'|trans }}, {{ app.user.name }}!</h1>
                        </div>
                    </div>
                </div>

                <div class="container space-bottom-1 space-bottom-lg-0">
                    <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="u-header u-header-left-aligned-nav u-header--bg-transparent-lg u-header--white-nav-links z-index-4">
                            <div class="u-header__section bg-transparent">
                                <nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space">
                                    <div id="breadcrumbNavBar"
                                         class="collapse navbar-collapse u-header__navbar-collapse">
                                        {{ include('themes/front/navigation-members-area.html.twig') }}
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container d-lg-flex align-items-lg-center space-top-1 space-top-md-2 space-lg-2">
            <div class="row w-100">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="row no-gutters">
                        <div class="col-12 col-xl-6">
                            <div class="mb-3">
                                <h1 class="h2 mb-0">
                                    <span>{{ 'landing.banner.title'|trans }}</span>
                                    <br/>
                                    <span class="fg-primary">
                                    <span class="font-weight-bold">{{ 'landing.banner.title_cyprus'|trans }}</span>
                                    |&nbsp;<span class="font-weight-bold" id="landing-typed-cyprus"></span>
                                    </span>
                                </h1>

                                <p>{{ 'landing.banner.subtitle'|trans }}</p>
                            </div>
                        </div>

                        <div class="col-12 col-xl-6">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h4 class="m-0">{{ 'landing.side-banner.title'|trans }}</h4>
                                </div>
                                <div class="col-12 text-center">
                                    <img src="/img/arrow-strait.png" alt="{{ 'landing.side-banner.title'|trans }}"
                                         style="height: 50px;"
                                         class="p-1">
                                </div>
                            </div>
                            <div id="landing-app">
                                <div class="text-center">
                                    <img src="/img/loading.svg" class="root-spinner space-5"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-7">
            <div class="row justify-content-md-between">

                <div class="col-12 col-lg-4 mb-3">
                    <div class="text-center">
                        <figure class="w-65 mx-auto mb-4">
                            <img src="/img/how-it-works-6.svg" class="img-fluid" style="min-height: 135px;"/>
                        </figure>

                        <div class="mb-4">
                            <h2 class="h5">{{ 'landing.actions.1.title'|trans }}</h2>
                            <p>{{ 'landing.actions.1.content'|trans|raw }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-3">
                    <div class="text-center">
                        <figure class="w-65 mx-auto mb-4">
                            <img src="/img/how-it-works-1.svg" class="img-fluid" style="min-height: 135px;"/>
                        </figure>

                        <div class="mb-4">
                            <h2 class="h5">{{ 'landing.actions.2.title'|trans }}</h2>
                            <p>{{ 'landing.actions.2.content'|trans|raw }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-3">
                    <div class="text-center">
                        <figure class="w-65 mx-auto mb-4">
                            <img src="/img/how-it-works-4.svg" class="img-fluid" style="max-height: 135px;"/>
                        </figure>

                        <div class="mb-4">
                            <h2 class="h5">{{ 'landing.actions.3.title'|trans }}</h2>
                            <p>{{ 'landing.actions.3.content'|trans|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}