{% extends 'themes/front/base.html.twig' %}

{% set cacheKey = ''|date('Y-m-d') %}

{% block seo %}
    <title>{{ 'seo.password-reset.title'|trans }}</title>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/PasswordResetApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main id="main-content">
        <div class="container" id="password-reset-app">
            <div class="text-center">
                <img src="/img/loading.svg" class="root-spinner space-5"/>
            </div>
        </div>
    </main>
{% endblock %}