{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.privacy.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.privacy.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.privacy.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.privacy.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.privacy.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.privacy.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="position-relative">
            <div class="container space-2">
                <div class="w-md-80 w-lg-60">
                    <h1 class="text-primary"><span class="font-weight-semi-bold">{{ 'privacy.title'|trans }}</h1>

                    {{ 'privacy.subtitle'|trans|raw }}
                </div>
            </div>

        </div>

        <div class="bg-light">
            <div class="container space-2 space-md-3">
                <div class="row">
                    <div class="col-12">

                        <div id="intro" class="space-bottom-2">
                            {{ 'privacy.content.intro.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="gdpr" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.gdpr.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.gdpr.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="log" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.log.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.log.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="cookies" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.cookies.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.cookies.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="privacy" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.privacy.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.privacy.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="third" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.third.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.third.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="child" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.child.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.child.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="policy" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.policy.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.policy.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="consent" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'privacy.content.consent.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'privacy.content.consent.content'|trans|raw }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}