{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.provider.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.provider.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.provider.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.provider.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.provider.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.provider.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="position-relative">
            <div class="container space-2">
                <div class="w-md-80 w-lg-60">
                    <h1 class="text-primary"><span class="font-weight-semi-bold">{{ 'provider.title'|trans }}</h1>
                </div>
                <div class="w-100">
                    {{ 'provider.subtitle'|trans|raw }}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="d-none d-xl-block col-xl-3">
                    <nav class="js-scroll-nav card border-0 bg-primary">
                        <ul class="simple py-3 px-5">
                            <li>
                                <a class="text-white py-3 d-block js-scroll"
                                   href="#how-it-works-block">
                                    {{ "navigation.how_it_works"|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="text-white py-3 d-block js-scroll"
                                   href="#faq-provider-block">
                                    {{ 'provider.faq.title'|trans }}</a>
                            </li>
                            <li>
                                <a class="text-white py-3 d-block js-scroll"
                                   href="#register-block">
                                    {{ 'provider.register.title'|trans }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-xl-9">

                    <div class="space-bottom-1" id="how-it-works-block">
                        <div class="row">
                            <div class="col-12">

                                <div class="row space-top-2">

                                    <div class="col-12 mb-4">

                                        <div class="row">
                                            <div class="col-12 col-lg-3">
                                                <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                                    <img src="/img/how-it-works-6.svg" class="img-fluid"
                                                         style="min-height: 135px;"/>
                                                </figure>
                                            </div>
                                            <div class="col-12 col-lg-9 text-center text-lg-left">
                                                <h2 class="h4">{{ 'provider.actions.1.title'|trans }}</h2>
                                                <p>{{ 'provider.actions.1.content'|trans|raw }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 col-lg-3 mb-4 text-center">
                                        <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                                    </div>

                                    <div class="col-12 mb-4">

                                        <div class="row">
                                            <div class="col-12 col-lg-3">
                                                <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                                    <img src="/img/how-it-works-1.svg" class="img-fluid"
                                                         style="min-height: 135px;"/>
                                                </figure>
                                            </div>
                                            <div class="col-12 col-lg-9 text-center text-lg-left">
                                                <h2 class="h4">{{ 'provider.actions.2.title'|trans }}</h2>
                                                <p>{{ 'provider.actions.2.content'|trans|raw }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 col-lg-3 mb-4 text-center">
                                        <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                                    </div>

                                    <div class="col-12 mb-4">

                                        <div class="row">
                                            <div class="col-12 col-lg-3 text-center text-lg-left">
                                                <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                                    <img src="/img/how-it-works-3.svg" class="img-fluid"
                                                         style="min-height: 135px;"/>
                                                </figure>
                                            </div>
                                            <div class="col-12 col-lg-9 text-center text-lg-left">
                                                <h2 class="h4">{{ 'provider.actions.3.title'|trans }}</h2>
                                                <p>{{ 'provider.actions.3.content'|trans|raw }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 col-lg-3 mb-4 text-center">
                                        <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                                    </div>

                                    <div class="col-12 mb-4">

                                        <div class="row">
                                            <div class="col-12 col-lg-3">
                                                <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                                    <img src="/img/how-it-works-4.svg" class="img-fluid"
                                                         style="min-height: 135px;"/>
                                                </figure>
                                            </div>
                                            <div class="col-12 col-lg-9 text-center text-lg-left">
                                                <h2 class="h4">{{ 'provider.actions.4.title'|trans }}</h2>
                                                <p>{{ 'provider.actions.4.content'|trans|raw }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 col-lg-3 mb-4 text-center">
                                        <i class="fa fa-2x fa-arrow-down fg-primary"></i>
                                    </div>

                                    <div class="col-12 mb-4">

                                        <div class="row">
                                            <div class="col-12 col-lg-3">
                                                <figure class="w-100 w-sm-50 w-lg-100 mx-auto p-2">
                                                    <img src="/img/how-it-works-5.svg" class="img-fluid"
                                                         style="min-height: 135px;"/>
                                                </figure>
                                            </div>
                                            <div class="col-12 col-lg-9 text-center text-lg-left">
                                                <h2 class="h4">{{ 'provider.actions.5.title'|trans }}</h2>
                                                <p>{{ 'provider.actions.5.content'|trans|raw }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 space-bottom-1">
                    <div class="row">
                        <div class="col-12 col-lg-10 mx-auto">
                            {{ 'provider.footer'|trans|raw }}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="space-bottom-2" id="faq-provider-block">
                        <div class="row">
                            <div class="col-12 col-lg-10 mx-auto">

                                <div class="mb-3">
                                    <h2 class="fg-primary font-weight-semi-bold">{{ 'provider.faq.title'|trans }}</h2>
                                </div>

                                <div id="faq-provider">
                                    {% for sentence in 1..6 %}
                                        <div class="card mb-3">
                                            <div class="card-header card-collapse"
                                                 id="faq-provider-title-{{ sentence }}">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                                                            data-toggle="collapse"
                                                            data-target="#faq-provider-body-{{ sentence }}"
                                                            aria-expanded="false"
                                                            aria-controls="faq-provider-body-{{ sentence }}">

                                                        {{ ('provider.faq.content.' ~ sentence ~ '.question')|trans }}

                                                        <span class="card-btn-arrow">
                                <span class="fas fa-arrow-down small"></span>
                              </span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="faq-provider-body-{{ sentence }}" class="collapse"
                                                 aria-labelledby="faq-provider-title-{{ sentence }}"
                                                 data-parent="#faq-provider">
                                                <div class="card-body">

                                                    {{ ('provider.faq.content.' ~ sentence ~ '.answer')|trans|raw }}

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="space-bottom-2" id="register-block">
                        <div class="row">
                            <div class="col-12 col-lg-10 mx-auto">

                                <div class="mb-3">
                                    <h2 class="fg-primary font-weight-semi-bold">{{ 'provider.register.title'|trans }}</h2>
                                </div>

                                {{ 'provider.register.content'|trans|raw }}

                                <div class="row">
                                    <div class="col-10 col-md-8 col-lg-6 mx-auto">
                                        <a href="{{ path('register_provider_index') }}"
                                           class="btn btn-primary btn-block">
                                            {{ 'provider.register.action'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}