{% spaceless %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for url in urls %}
        <url>
            <loc>{{ project_host ~ url }}</loc>
            <lastmod>{{ updatedAt }}</lastmod>
        </url>
    {% endfor %}
</urlset>
{% endspaceless %}