<script>

    var AppParameters = {
        env: '{{ app.environment }}',
        uploadImageMimeTypes: '{{ upload_image_mime_types }}',
        uploadImageMaxFilesizeMb: parseFloat('{{ upload_image_max_filesize_mb }}'),
        googleMapsApiKey: '{{ google_maps_api_key }}',
        locale: '{{ app.request.locale }}',
        locales: '{{ supported_locales }}'.split('|'),
        isAuthenticated: {{ app.user ? 'true' : 'false' }},
        user: {
            id: {{ app.user ? app.user.id : 'null' }},
            name: '{{ app.user and app.user.name ? app.user.name : '' }}',
            surname: '{{ app.user and app.user.surname ? app.user.surname : '' }}',
            isAdmin: {{ app.user and app.user.isAdmin ? 'true' : 'false' }},
            email: '{{ app.user and app.user.email ? app.user.email : '' }}',
            phone: '{{ app.user and app.user.phone ? app.user.phone : '' }}',
            provider: {
                id: {{ app.user and app.user.provider ? app.user.provider.id : 'null' }}
            }
        },
        currentRoute: {
            host: '{{ project_host }}',
            url: '{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}',
            referer: '{{ app.request.headers.get('referer', '/') }}',
            params: {
                id: '{{ app.request.attributes.get('id', '') }}',
                guid: '{{ app.request.attributes.get('guid', '') }}',
            }
        }

    };

    var AppRouter = {
        GET: {
            quoteCreate: '{{ path('quote_create_index', {
                'guid': '12345'
            }) }}'.replace('12345', '_GUID_'),
            termsIndex: '{{ path('terms_index') }}',
            privacyIndex: '{{ path('privacy_index') }}',
            inquiryCosts: '{{ path('api_v1_inquiry_cost_gets') }}',
            myInquiriesIndex: '{{ path('my_inquiry_index') }}',
            carRentIndex: '{{ path('car_rent_index') }}',
            boatRentIndex: '{{ path('boat_rent_index') }}',
            accommodationRentIndex: '{{ path('accommodation_rent_index') }}',
            transferIndex: '{{ path('transfer_index') }}',
            resetPasswordIndex: '{{ path('reset_password_index') }}',
            registerUserIndex: '{{ path('register_user_index') }}',
            registerProviderIndex: '{{ path('register_provider_index') }}',
            loginIndex: '{{ path('login') }}',
            providerInvoices: '{{ path('api_v1_provider_invoices_gets') }}',
            billingPlans: '{{ path('api_v1_billing_plan_gets') }}',
            billingPlanPurchasePayPal: '{{ path('billing_plan_paypal_purchase', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            billingPlanPurchaseBank: '{{ path('billing_plan_bank_purchase', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            users: '{{ path('api_v1_users_gets') }}',
            providers: '{{ path('api_v1_providers_gets') }}',
            reviews: '{{ path('api_v1_reviews_gets') }}',
            invoices: '{{ path('api_v1_invoices_gets') }}',
            userMe: '{{ path('api_v1_users_me_get') }}',
            providerMe: '{{ path('api_v1_providers_me_get') }}',
            provider: '{{ path('api_v1_providers_get', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            user: '{{ path('api_v1_users_get', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            providerShow: '{{ path('providers_show_index', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            userShow: '{{ path('users_show_index', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            contactById: '{{ path('api_v1_contacts_for_me_get', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            contacts: '{{ path('api_v1_contacts_for_me_gets') }}',
            categoriesIndex: '{{ path('categories_index') }}',
            categories: '{{ path('api_v1_categories_gets') }}',
            inquiries: '{{ path('api_v1_inquiries_gets') }}',
            inquiry: '{{ path('api_v1_inquiries_get', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            inquiryByGuid: '{{ path('api_v1_inquiries_guid_get', {
                'guid': 'aaa'
            }) }}'.replace('aaa', '_GUID_'),
            myInquiry: '{{ path('inquiry_show_index', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            myInquiryByGuid: '{{ path('inquiry_show_guid_index', {
                'guid': 'aaa'
            }) }}'.replace('aaa', '_GUID_'),
            reviewCreate: '{{ path('review_create_index', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            categoryShow: '{{ path('categories_show_index', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            category: '{{ path('api_v1_categories_get', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            categoryNew: '{{ path('categories_new_index') }}',
            billingHistory: '{{ path('api_v1_billing_history_gets') }}',
        },
        POST: {
            selectQuoteByGuid: '{{ path('api_v1_selected_quotes_guid_post', {
                'inquiryGuid': '999',
                'quoteId': '888',
            }) }}'.replace('999', '_INQUIRY_GUID_').replace('888', '_QUOTE_ID_'),
            quotesByGuid: '{{ path('api_v1_quotes_guid_post', {
                'inquiryGuid': '999'
            }) }}'.replace('999', '_GUID_'),
            media: '{{ path('api_v1_media_post') }}',
            login: '{{ path('api_v1_login_post') }}',
            passwordReset: '{{ path('api_v1_user_reset_password_post') }}',
            smsResend: '{{ path('api_v1_user_sms_send_post') }}',
            smsVerification: '{{ path('api_v1_user_sms_verify_post', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            emailResendAnon: '{{ path('api_v1_email_send_post') }}',
            emailResendAnonProvider: '{{ path('api_v1_email_provider_send_post') }}',
            emailResend: '{{ path('api_v1_user_email_send_post') }}',
            emailVerification: '{{ path('api_v1_user_email_verify_post', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            phoneVerify: '{{ path('api_v1_sms_send_post') }}',
            users: '{{ path('api_v1_users_post') }}',
            providers: '{{ path('api_v1_providers_post') }}',
            inquiries: '{{ path('api_v1_inquiries_post') }}',
            category: '{{ path('api_v1_categories_post') }}',
            reviews: '{{ path('api_v1_review_by_selected_quote_post', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
        },
        PUT: {
            userMe: '{{ path('api_v1_users_me_put') }}',
            providerMe: '{{ path('api_v1_providers_me_put') }}',
            inquiryCost: '{{ path('api_v1_inquiry_cost_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            provider: '{{ path('api_v1_providers_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            user: '{{ path('api_v1_users_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            passwordSet: '{{ path('api_v1_user_reset_password_put', {
                'token': app.request.attributes.get('token', '-')
            }) }}',
            inquiryByGuid: '{{ path('api_v1_inquiries_unauthorized_put', {
                'guid': '12345'
            }) }}'.replace('12345', '_GUID_'),
            inquiry: '{{ path('api_v1_inquiries_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            reviews: '{{ path('api_v1_reviews_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            invoice: '{{ path('api_v1_invoices_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
            category: '{{ path('api_v1_categories_put', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
        },
        DELETE: {
            quote: '{{ path('api_v1_quotes_delete', {
                'quoteId': 999,
                'inquiryId': 888,
            }) }}'.replace('888', '_INQUIRY_ID_').replace('999', '_QUOTE_ID_'),
            category: '{{ path('api_v1_categories_delete', {
                'id': 999
            }) }}'.replace('999', '_ID_'),
        }
    }
</script>
