{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.terms.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.terms.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.terms.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.terms.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.terms.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.terms.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block content %}

    <main id="main-content">

        <div class="position-relative">
            <div class="container space-2">
                <div class="w-md-80 w-lg-60">
                    <h1 class="text-primary"><span class="font-weight-semi-bold">{{ 'terms.title'|trans }}</h1>

                    {{ 'terms.subtitle'|trans|raw }}
                </div>
            </div>

        </div>

        <div class="bg-light">
            <div class="container space-2 space-md-3">
                <div class="row">
                    <div class="col-12">

                        <div id="intro" class="space-bottom-2">
                            {{ 'terms.content.intro.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="cookies" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.cookies.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.cookies.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="license" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.license.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.license.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="iframes" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.iframes.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.iframes.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="rights" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.rights.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.rights.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="links" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.links.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.links.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="liability" class="space-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.liability.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.liability.content'|trans|raw }}
                        </div>

                        <hr class="my-0">

                        <div id="disclaimer" class="space-top-2">
                            <!-- Title -->
                            <div class="mb-3">
                                <h3 class="text-primary font-weight-semi-bold">{{ 'terms.content.disclaimer.title'|trans|raw }}</h3>
                            </div>
                            <!-- End Title -->

                            {{ 'terms.content.disclaimer.content'|trans|raw }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}