{% extends 'emails/base.html.twig' %}

{% block body %}

    {{ 'email.contact-created-user.content'|trans({
        '_INQUIRY_ID_': inquiry.id,
        '_INQUIRY_TYPE_': ('inquiry.type.' ~ inquiry.type)|trans,
        '_PROVIDER_NAME_': provider.user.surname ~ ' ' ~ provider.user.name,
        '_PROVIDER_EMAIL_': provider.user.email,
        '_PROVIDER_PHONE_': provider.user.phone,
        '_PROVIDER_COMPANY_': provider.companyName
    })|raw }}

{% endblock %}