{% extends 'emails/base.html.twig' %}

{% block body %}

    {{ 'email.contact-created-provider.content'|trans({
        '_INQUIRY_ID_': inquiry.id,
        '_INQUIRY_TYPE_': ('inquiry.type.' ~ inquiry.type)|trans,
        '_CUSTOMER_NAME_': user.surname ~ ' ' ~ user.name,
        '_CUSTOMER_EMAIL_': user.email,
        '_CUSTOMER_PHONE_': user.phone,
    })|raw }}

{% endblock %}