{% extends 'emails/base.html.twig' %}

{% block body %}
    {{ 'email.inquiry-created-user.content'|trans({
        '_INQUIRY_ID_':  inquiry.id,
        '_INQUIRY_TYPE_': ('inquiry.type.' ~ inquiry.type)|trans
    })|raw }}

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ project_host ~ path('inquiry_create_unauthorized_index') }}">
                                {{ 'email.inquiry-created-user.action'|trans }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    {{ 'email.inquiry-created-user.footer'|trans|raw }}
{% endblock %}