{% extends 'emails/base.html.twig' %}

{% block body %}
    {{ 'email.provider-registered.content'|trans({
        '_PROVIDER_NAME_': provider.user.surname ~ ' ' ~ provider.user.name,
        '_PROVIDER_EMAIL_': provider.user.email,
        '_PROVIDER_PHONE_': provider.user.phone,
        '_PROVIDER_COMPANY_': provider.companyName
    })|raw }}

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ project_host ~ path('providers_show_index', {"id": provider.id}) }}">
                                {{ 'email.provider-registered.action'|trans }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}