{% extends 'emails/base.html.twig' %}

{% block body %}
    {{ 'email.reset_password.content'|trans|raw }}

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ project_host ~ path('set_password_index', {
                                'token': user.passwordToken
                            }) }}">{{ 'email.reset_password.action'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    {{ 'email.reset_password.footer'|trans|raw }}
{% endblock %}