{% extends 'emails/base.html.twig' %}

{% block body %}
    {{ 'email.review-request.content'|trans|raw }}

    <table style="margin-bottom: 20px">
        <tbody>
        <tr>
            {% for selectedQuote in selectedQuotes %}
                <td>
                    <h2 style="text-align: center">{{ 'email.review-request.quote'|trans({
                            '_ID_': selectedQuote.quote.id
                        }) }}</h2>

                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                        <tbody>
                        <tr>
                            <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td align="center">
                                            <a href="{{ project_host ~ path('review_create_index', {
                                                'id': selectedQuote.id
                                            }) }}">{{ 'email.review-request.action'|trans }}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    {{ 'email.review-request.content2'|trans|raw }}

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ project_host ~ path('inquiry_show_guid_index', {
                                'guid': selectedQuotes.0.inquiry.guid
                            }) }}">{{ 'email.review-request.action2'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    {{ 'email.review-request.footer'|trans|raw }}

{% endblock %}