{% extends 'emails/base.html.twig' %}

{% block body %}
    {{ 'email.user-registered.content'|trans()|raw }}

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ project_host ~ path('profile_index') }}">
                                {{ 'email.user-registered.action'|trans }}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    {{ 'email.user-registered.footer'|trans|raw }}
{% endblock %}