{% extends 'emails/base.html.twig' %}

{% block body %}
    {{ 'email.verify-email.content'|trans|raw }}

    <h1 style="text-align: center;">
        <strong><span style="background-color: #214165; color: #ffffff; padding: 0 10px;">{{ user.emailCode }}</span></strong>
    </h1>

    {{ 'email.verify-email.footer'|trans|raw }}
{% endblock %}