{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'navigation.billing_failure'|trans }} - {{ 'project_name'|trans }}</title>
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="container space-2">
            <div class="row">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="banner">

                        <img src="/img/warning-icon.png">

                        <h3>{{ 'billing_failure.title'|trans }}</h3>
                        <h4>{{ 'billing_failure.subtitle'|trans }}</h4>

                        <a href="{{ path('contact_index') }}" class="btn btn-outline-primary">{{ 'navigation.contact'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}