{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'navigation.billing_success'|trans }} - {{ 'project_name'|trans }}</title>
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="container space-2">
            <div class="row">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="banner">

                        <img src="/img/success-icon.png">

                        <h3>{{ 'billing_success.title'|trans }}</h3>
                        <h4>{{ 'billing_success.subtitle'|trans({
                                '_NAME_': plan.name
                            }) }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}