{% extends 'themes/front/base.html.twig' %}

{% block seo %}
    <title>{{ 'seo.boat_rent.title'|trans }}</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/BoatRentProviderApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/BoatRentProviderApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main id="main-content">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="boat-rent-provider-app">
                        <div class="text-center">
                            <img src="/img/loading.svg" class="root-spinner space-5"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}