{% extends 'themes/front/base-2.html.twig' %}

{% set cacheKey = ''|date('Y-m-d') %}

{% block seo %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
        <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="{{ path('index') }}">{{ 'navigation.homepage'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="{{ path('my_inquiry_index') }}">
                {{ app.user and app.user.provider
                ? 'navigation.inquiries_provider'|trans
                : 'navigation.inquiries_user'|trans }}
            </a>
        </li>
        <li class="breadcrumb-item active">
            #{{ inquiry.id }}
        </li>
    </ol>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/InquiryProviderApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/InquiryProviderApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main class="container" id="inquiry-provider-app">
        <div class="text-center">
            <img src="/img/loading.svg" class="root-spinner space-5"/>
        </div>
    </main>
{% endblock %}