{% extends 'themes/front/base.html.twig' %}

{% set cacheKey = ''|date('Y-m-d') %}

{% block seo %}
    <title>{{ 'seo.register-provider.title'|trans }}</title>
    <meta name="description" content="{{ 'seo.register-provider.description'|trans }}">
    <meta name="keywords" content="{{ 'seo.register-provider.keywords'|trans }}">
    <meta name="og:title" content="{{ 'seo.register-provider.title'|trans }}">
    <meta name="og:description" content="{{ 'seo.register-provider.description'|trans }}">
    <meta name="og:image" content="{{ project_host ~ ('seo.register-provider.image'|trans) }}">
    <meta name="og:locale" content="{{ app.request.locale == 'en' ? 'en_US' : app.request.locale }}">
    <meta name="og:url"
          content="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/RegisterProviderApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/RegisterProviderApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main id="main-content">
        <div class="container" id="register-provider-app">
            <div class="text-center">
                <img src="/img/loading.svg" class="root-spinner space-5"/>
            </div>
        </div>
    </main>
{% endblock %}