{% extends 'themes/front/base-2.html.twig' %}

{% set cacheKey = ''|date('Y-m-d') %}

{% block seo %}
    <title>{{ 'navigation.categories'|trans }}</title>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
        <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="{{ path('index') }}">{{ 'navigation.homepage'|trans }}</a>
        </li>
        <li class="breadcrumb-item active">
            {{ 'navigation.categories'|trans }}
        </li>
    </ol>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/AdminCategoriesApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/AdminCategoriesApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main class="container">
        <div id="admin-categories-app">
            <div class="text-center">
                <img src="/img/loading.svg" class="root-spinner space-5"/>
            </div>
        </div>
    </main>
{% endblock %}