<style>
    @page {
        background: url({{ background }}) no-repeat 0 0;
        background-image-resize: 6;
    }
</style>
<page style="font-size: 12pt;">

    <div>

        <div style="width: 100%;margin-bottom: 5mm;">
            <table style="width: 100%;border-spacing: 0;">
                <tbody>
                <tr>
                    <td style="width: 50%;vertical-align: top">
                        <div style="width: 100%;">
                            <img src="{{ logo }}" height="50"/>
                        </div>
                    </td>
                    <td style="width: 50%; text-align: right;vertical-align: top">
                        <h2 style="margin: 0;font-weight: bold; font-size: 20pt">{{ 'fields.invoice'|trans }} #</h2>
                        <h2 style="margin: 0;font-weight: normal; font-size: 18pt">{{ number }}</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="width: 100%; margin-bottom: 10mm">

            <div style="width: 100%; margin-bottom: 5mm">
                <div style="color: black;line-height: 1.4;font-style: normal;">
                    {{ 'invoice.company'|trans|raw }}
                </div>
            </div>

            <div style="width: 100%">
                <div style="color: #77838f;line-height: 1.4;font-style: normal;">
                    {{ 'invoice.phone'|trans|raw }}
                </div>
            </div>
        </div>

        <div style="width: 100%; margin-bottom: 10mm">
            <h5 style="margin: 0;font-weight: bold;font-size: 15pt">{{ 'fields.invoice_payer'|trans }}:</h5>
            <br/>

            <div style="color: #77838f;line-height: 1.5;font-style: normal;font-size: 12pt">
                {{ 'fields.company'|trans }}: {{ provider.companyId ~ ' ' ~ provider.companyName }}
                <br/>{{ 'fields.name'|trans }}: {{ provider.user.surname ~ ' ' ~ provider.user.name }}
                <br/>{{ 'fields.country'|trans }}: {{ provider.user.country }}
            </div>
        </div>

        <div style="width: 100%;">
            <table style="width: 100%; margin-bottom: 20mm;border-spacing: 0;">
                <thead>
                <tr style="color: #77838f; text-transform: uppercase">
                    <th align="left" style="vertical-align: center;width:60%;
                border: 0;
                padding: 2mm;
                font-weight: bold;
                border-top-style: none;border-bottom: 2px solid #1e2022;">{{ 'fields.plan'|trans }}</th>

                    <th align="center" style="vertical-align: center;width:20%;
                border: 0;
                padding: 2mm;
                font-weight: bold;
                border-top-style: none;border-bottom: 2px solid #1e2022;">{{ 'fields.created_at'|trans }}</th>

                    <th align="center" style="vertical-align: center;width:20%;
                border: 0;
                padding: 2mm;
                font-weight: bold;
                border-top-style: none;
                border-bottom: 2px solid #1e2022;">{{ 'fields.price'|trans }}</th>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <td align="left" style="vertical-align: center;width:60%;
                border: 0;
                padding: 2mm;">{{ plan.name }}</td>

                    <td align="center" style="vertical-align: center;width:20%;
                border: 0;
                padding: 2mm;">{{ ''|date('Y-m-d') }}</td>

                    <td align="right" style="vertical-align: center;width:20%;
                border: 0;
                padding: 2mm;">{{ plan.price|number_format(2, '.') }} {{ 'invoice.currency'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="width: 100%;">
            <table style="width: 100%; margin-bottom: 20mm;border-spacing: 0;">
                <tbody>
                <tr>
                    <td style="width: 50%;vertical-align: bottom">

                        <p style="margin: 0;color: #77838f;line-height: 1.7;">{{ ''|date('Y') }} {{ 'project_name'|trans }}</p>

                    </td>
                    <td style="width: 50%;">
                        <h5 style="margin: 0;font-weight: bold;font-size: 15pt">{{ 'fields.payment_method'|trans }}:</h5>
                        <br/>

                        <div style="color: #77838f;line-height: 1.5;font-style: normal;font-size: 12pt">
                            {{ 'invoice.bank'|trans|raw }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</page>