{% set cacheKey = ''|date('Y-m-d') %}
{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

        {% block seo %}
            <title>{{ 'navigation.greeting'|trans }}</title>
            <meta name="description" content="">
        {% endblock %}

        <link rel="canonical"
              href="{{ project_host ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png"/>
        <link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196"/>
        <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16"/>
        <link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128"/>
        <meta name="application-name" content="{{ 'project_name'|trans }}"/>
        <meta name="msapplication-TileColor" content="#FFFFFF"/>
        <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png"/>
        <meta name="msapplication-square70x70logo" content="/img/favicon/mstile-70x70.png"/>
        <meta name="msapplication-square150x150logo" content="/img/favicon/mstile-150x150.png"/>
        <meta name="msapplication-wide310x150logo" content="/img/favicon/mstile-310x150.png"/>
        <meta name="msapplication-square310x310logo" content="/img/favicon/mstile-310x310.png"/>


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
              integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
              crossorigin="anonymous">

        {% block css %}

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

            <link rel="stylesheet" href="/themes/front/vendor/font-awesome/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/themes/front/vendor/animate.css/animate.min.css">
            <link rel="stylesheet" href="/themes/front/vendor/hs-megamenu/src/hs.megamenu.css">
            <link rel="stylesheet"
                  href="/themes/front/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
            <link rel="stylesheet" href="/themes/front/vendor/fancybox/jquery.fancybox.css">
            <link rel="stylesheet" href="/themes/front/vendor/slick-carousel/slick/slick.css">
            <link rel="stylesheet" href="/themes/front/vendor/jquery-ui/themes/base/jquery-ui.min.css">
            <link rel="stylesheet" href="/themes/front/vendor/prism/prism.css">
            <link rel="stylesheet" href="/themes/front/css/theme.css?v={{ cacheKey }}">

            <link rel="stylesheet" href="/css/common.css?v={{ cacheKey }}" type="text/css">

        {% endblock %}

        {% if google_tag is defined and google_tag %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ google_tag }}');
            </script>
        {% endif %}

    </head>
    <body>

    {% block navigation %}
        {{ include('themes/front/navigation-with-user.html.twig') }}
    {% endblock %}

    <main id="main-content" role="main">

        {% if app.user %}
            <div class="gradient-half-primary-v6">
                <div class="container space-top-1 pb-3">
                    <div class="row">
                        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                            <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                                <!-- Breadcrumb -->
                                {% block breadcrumbs %}
                                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                                        <li class="breadcrumb-item">
                                            <a class="breadcrumb-link"
                                               href="{{ path('index') }}">{{ 'navigation.homepage'|trans }}</a>
                                        </li>
                                    </ol>
                                {% endblock %}
                                <!-- End Breadcrumb -->

                                <!-- Breadcrumb Nav Toggle Button -->
                                <div class="d-lg-none">
                                    <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                            aria-label="Toggle navigation"
                                            aria-expanded="false"
                                            aria-controls="breadcrumbNavBar"
                                            data-toggle="collapse"
                                            data-target="#breadcrumbNavBar">
                                    <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                        <span class="u-hamburger__inner"></span>
                                    </span>
                                    </button>
                                </div>
                                <!-- End Breadcrumb Nav Toggle Button -->
                            </div>
                        </div>

                        <div class="col-lg-7 order-lg-1">
                            <h1 class="h3 text-white font-weight-medium mb-1">{{ 'members_area.greeting'|trans }}, {{ app.user.name }}!</h1>
                        </div>
                    </div>
                </div>

                <div class="container space-bottom-1 space-bottom-lg-0">
                    <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
                        <div class="u-header u-header-left-aligned-nav u-header--bg-transparent-lg u-header--white-nav-links z-index-4">
                            <div class="u-header__section bg-transparent">
                                <nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space">
                                    <div id="breadcrumbNavBar"
                                         class="collapse navbar-collapse u-header__navbar-collapse">
                                        {{ include('themes/front/navigation-members-area.html.twig') }}
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="bg-light">
            <div class="container space-1">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    {% block footer %}
        {{ include('themes/front/footer.html.twig') }}
    {% endblock %}

    {% block js %}
        <!-- JS Global Compulsory -->
        <script src="/themes/front/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/themes/front/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
        <script src="/themes/front/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="/themes/front/vendor/bootstrap/bootstrap.min.js"></script>

        <!-- JS Implementing Plugins -->
        <script src="/themes/front/vendor/jquery-ui/jquery-ui.core.min.js"></script>
        <script src="/themes/front/vendor/svg-injector/dist/svg-injector.min.js"></script>
        <script src="/themes/front/vendor/jquery-ui/ui/widgets/menu.js"></script>
        <script src="/themes/front/vendor/jquery-ui/ui/widgets/mouse.js"></script>
        <script src="/themes/front/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
        <script src="/themes/front/vendor/prism/prism.js"></script>
        <script src="/themes/front/vendor/fancybox/jquery.fancybox.min.js"></script>
        <script src="/themes/front/vendor/typed.js/lib/typed.min.js"></script>
        <script src="/themes/front/vendor/slick-carousel/slick/slick.js"></script>

        <!-- JS Front -->
        <script src="/themes/front/js/hs.core.js"></script>
        <script src="/themes/front/js/components/hs.header.js"></script>
        <script src="/themes/front/js/components/hs.unfold.js"></script>
        <script src="/themes/front/js/components/hs.focus-state.js"></script>
        <script src="/themes/front/js/components/hs.malihu-scrollbar.js"></script>
        <script src="/themes/front/js/components/hs.validation.js"></script>
        <script src="/themes/front/js/components/hs.fancybox.js"></script>
        <script src="/themes/front/js/components/hs.slick-carousel.js"></script>
        <script src="/themes/front/js/components/hs.show-animation.js"></script>
        <script src="/themes/front/js/components/hs.svg-injector.js"></script>
        <script src="/themes/front/js/components/hs.go-to.js"></script>
        <script src="/themes/front/js/components/hs.svg-injector.js"></script>
        <script src="/themes/front/vendor/hs-megamenu/src/hs.megamenu.js"></script>

        <script src="/themes/front/js/theme.min.js"></script>
        <script src="/themes/front/js/theme-custom.js?v={{ cacheKey }}"></script>
        <script>
            $(document).on('ready', function () {
                // initialization of HSScrollNav component
                $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                    duration: 700
                });
            });
        </script>
    {% endblock %}
    </body>
    </html>
{% endspaceless %}