<footer>
    <div class="border-bottom border-top">
        <div class="container space-2">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">{{ 'footer.links'|trans }}</h4>

                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('how_index') }}">{{ 'navigation.how_it_works'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('terms_index') }}">{{ 'navigation.terms'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('privacy_index') }}">{{ 'navigation.privacy'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('sitemap_xml') }}">{{ 'navigation.sitemap'|trans }}</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">{{ 'footer.features'|trans }}</h4>

                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('car_rent_index') }}">{{ 'navigation.car_rent'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('boat_rent_index') }}">{{ 'navigation.boat_rent'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('accommodation_rent_index') }}">{{ 'navigation.accommodation_rent'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('transfer_index') }}">{{ 'navigation.transfer'|trans }}</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">{{ 'footer.join_us'|trans }}</h4>

                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('provider_index') }}">{{ 'navigation.register_provider'|trans }}</a></li>
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('register_user_index') }}">{{ 'navigation.register_user'|trans }}</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">{{ 'footer.contact'|trans }}</h4>

                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action"
                               href="{{ path('contact_index') }}">{{ 'navigation.contact'|trans }}</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="container text-center space-1">
        <a class="d-inline-flex align-items-center mb-2" href="{{ path('index') }}">
            <img src="/img/vacbids-logo-final-web@256.png"
                 alt="Logo cyprus.vacbids.com"
                 style="height: 40px">
        </a>
        <p class="small text-muted">{{ 'footer.copyright'|trans }} {{ ''|date('Y') }}</p>
    </div>
    <!-- End Copyright -->
</footer>