<!-- Topbar -->
<div class="container mb-1 d-none d-lg-block">
    <div class="d-flex align-items-center">

        <div class="ml-auto">
            <ul class="list-inline ml-2 mb-0">

                <!-- Account Login -->
                <li class="list-inline-item">
                    <a class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1 py-0"
                       href="{{ path('profile_index') }}">
                <span class="position-relative">
                    <span class="u-sidebar--account__toggle-text">
                        {{ 'logged_in_as'|trans }}: {{ app.user.name }} {{ app.user.surname }}
                    </span>
                    {#<span class="badge badge-sm badge-success badge-pos rounded-circle">3</span>#}
                </span>
                    </a>
                </li>
                <!-- End Account Login -->
            </ul>
        </div>

        <ul class="list-inline mb-0">
            <li class="list-inline-item mr-0">
                <a class="u-header__navbar-link"
                   href="{{ path('logout') }}">{{ 'navigation.logout'|trans }}</a>
            </li>
        </ul>
    </div>
</div>
<!-- End Topbar -->
