{% set isProvider = is_granted('ROLE_PROVIDER') %}
{% set isAdmin = is_granted('ROLE_ADMIN') %}

<ul class="navbar-nav u-header__navbar-nav">

    {% if isAdmin %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('users_index') }}">{{ 'navigation.users'|trans }}</a>
        </li>
    {% endif %}

    {% if isAdmin %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('providers_index') }}">{{ 'navigation.providers'|trans }}</a>
        </li>
    {% endif %}

    {% if isAdmin %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('invoices_index') }}">{{ 'navigation.invoices'|trans }}</a>
        </li>
    {% endif %}

    {% if isAdmin %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('reviews_index') }}">{{ 'navigation.reviews'|trans }}</a>
        </li>
    {% endif %}

    {% if isAdmin %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('categories_index') }}">{{ 'navigation.categories'|trans }}</a>
        </li>
    {% endif %}

    {% if isAdmin %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('inquiry_costs_index') }}">{{ 'navigation.inquiry_costs'|trans }}</a>
        </li>
    {% endif %}

    {% if isProvider %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('my_inquiry_index') }}">{{ 'navigation.inquiries_provider'|trans }}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('my_inquiry_index') }}">{{ 'navigation.inquiries_user'|trans }}</a>
        </li>
    {% endif %}

    {% if isProvider %}
        <li class="nav-item">
            <a class="nav-link u-header__nav-link"
               href="{{ path('billing_index') }}">{{ 'navigation.billing'|trans }}</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link u-header__nav-link"
           href="{{ path('profile_index') }}">{{ 'navigation.my_profile'|trans }}</a>
    </li>

</ul>