<header id="header" class="u-header u-header--full-container u-header--abs-top u-header--show-hide shadow-sm p-0 m-0"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
    <div class="u-header__section pt-3">

        {% if app.user %}
            {{ include('themes/front/navigation-topbar.html.twig') }}
        {% endif %}

        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center p-0"
                   href="{{ path('index') }}">
                    <img src="/img/vacbids-logo-final-web@256.png"
                         alt="Logo cyprus.vacbids.com">
                </a>
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation"
                        aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse pt-3 pt-md-0">
                    <ul class="navbar-nav u-header__navbar-nav text-center">

                        <li class="nav-item u-header__nav-item mb-1 mb-md-0 mr-1">
                            <a class="nav-link p-2"
                               href="{{ path('index') }}">{{ 'navigation.home'|trans }}</a>
                        </li>

                        <li class="nav-item u-header__nav-item mb-1 mb-md-0 mr-1">
                            <a class="nav-link p-2"
                               href="{{ path('how_index') }}">{{ 'navigation.how_it_works'|trans }}</a>
                        </li>

                        <li class="nav-item u-header__nav-item mb-1 mb-md-0 mr-1">
                            <a class="nav-link p-2"
                               href="{{ path('faq_index') }}">{{ 'navigation.faq'|trans }}</a>
                        </li>

                        {% if not app.user %}
                            <li class="nav-item u-header__nav-item mb-1 mb-md-0 mr-1">
                                <a class="nav-link p-2"
                                   href="{{ path('contact_index') }}">{{ 'navigation.contact'|trans }}</a>
                            </li>

                            <li class="nav-item u-header__nav-item mb-1 mb-md-0 mr-1">
                                <a class="nav-link p-2"
                                   href="{{ path('register_user_index') }}">{{ 'navigation.register_user'|trans }}</a>
                            </li>
                            <li class="nav-item mb-1 mb-lg-0 mr-1">
                                <a class="btn btn-sm btn-outline-primary transition-3d-hover"
                                   href="{{ path('login') }}">
                                    {{ 'navigation.login'|trans }}
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item mb-1 mb-lg-0 mr-1">
                            <a class="btn btn-sm btn-primary transition-3d-hover"
                               href="{{ path('inquiry_create_unauthorized_index') }}">
                                {{ 'navigation.create_inquiry'|trans }}
                            </a>
                        </li>

                        <li class="nav-item mb-1 mb-lg-0 mr-1 ml-3">
                            {{ include('themes/front/navigation-locale.html.twig') }}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>