<div class="w-100 p-5">
    <!-- SVG Quote -->
    <figure class="text-center mb-5 mx-auto">
        <img src="/img/quote-icon.svg" alt="">
    </figure>
    <!-- End SVG Quote -->

    <!-- Testimonials Carousel Main -->
    <div id="testimonialsNavMain" class="js-slick-carousel u-slick mb-4"
         data-infinite="true"
         data-autoplay="true"
         data-speed="5000"
         data-fade="true"
         data-nav-for="#testimonialsNavPagination">

        {% for review in reviews %}
            <div class="js-slide">
                <!-- Testimonials -->
                <div class="w-md-80 w-lg-60 text-center mx-auto">
                    <blockquote class="h5 text-white font-weight-normal mb-4">{{ review.text|escape }}</blockquote>
                    <h1 class="h6 text-white-70">
                        {% if review.isPublishAllowed %}
                            <i class="fa fa-user-circle"></i>&nbsp;{{ review.user.surname ~ ' ' ~ review.user.name }}
                        {% else %}
                            <i class="fa fa-user-circle"></i>&nbsp;{{ 'review.anon'|trans }}
                        {% endif %}
                    </h1>
                </div>
                <!-- End Testimonials -->
            </div>
        {% endfor %}
    </div>
    <!-- End Testimonials Carousel Main -->

    <!-- Testimonials Carousel Pagination -->
    <div id="testimonialsNavPagination"
         class="js-slick-carousel u-slick u-slick--transform-off u-slick--pagination-modern mx-auto"
         data-infinite="true"
         data-autoplay="true"
         data-speed="5000"
         data-center-mode="true"
         data-slides-show="{{ reviews|length }}"
         data-is-thumbs="true"
         data-focus-on-select="true"
         data-nav-for="#testimonialsNavMain">

        {% for review in reviews %}
            <div class="js-slide">
                <div class="u-avatar mx-auto">
                    <p class="text-white">{{ loop.index }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- End Testimonials Carousel Pagination -->

    {#<!-- Clients -->
    <div class="position-absolute right-0 bottom-0 left-0 text-center p-5">
        <h4 class="h6 text-white-70 mb-3">Front partners</h4>
        <div class="d-flex justify-content-center">
            <div class="mx-4">
                <img class="u-clients" src="/themes/front/svg/clients-logo/slack-white.svg"
                     alt="Image Description">
            </div>
            <div class="mx-4">
                <img class="u-clients" src="/themes/front/svg/clients-logo/google-white.svg"
                     alt="Image Description">
            </div>
            <div class="mx-4">
                <img class="u-clients" src="/themes/front/svg/clients-logo/spotify-white.svg"
                     alt="Image Description">
            </div>
        </div>
    </div>
    <!-- End Clients -->#}
</div>