{% extends 'themes/front/base.html.twig' %}

{% set cacheKey = ''|date('Y-m-d') %}

{% block seo %}
    <title>{{ 'navigation.review'|trans }}</title>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/dist/ReviewApp.css?v={{ cacheKey }}">
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('spa-parameters.html.twig') }}
    <script src="/js/dist/ReviewApp.js?v={{ cacheKey }}"></script>
{% endblock %}

{% block content %}
    <main id="main-content">
        <div class="container" id="review-app">
            <div class="text-center">
                <img src="/img/loading.svg" class="root-spinner space-5"/>
            </div>
        </div>
    </main>
{% endblock %}